worker_processes  1;

events {
    worker_connections  1024; 
}
    
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    server {
        listen       80;
        server_name  api.planetpulse.io;

	return 301 https://api.planetpulse.io$request_uri;
    }

    server {
        listen       80;
        server_name  planetpulse.io;

	return 301 https://planetpulse.io$request_uri;
    }
    
    server {
        server_name  www.planetpulse.io;

	return 301 $scheme://planetpulse.io$request_uri;
    }
    
    server {
        listen       443 ssl http2;
        server_name  api.planetpulse.io;

        ssl_certificate /etc/letsencrypt/live/planetpulse.io/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/planetpulse.io/privkey.pem;

        location / {
	    proxy_pass http://localhost:8080;
            index  index.html index.htm;
        }
    }
    
    server {
        listen       443 ssl http2;
        server_name  planetpulse.io;

       ssl_certificate /etc/letsencrypt/live/planetpulse.io/fullchain.pem;
       ssl_certificate_key /etc/letsencrypt/live/planetpulse.io/privkey.pem;

        location / {
	    proxy_pass http://localhost:5000;
            index  index.html index.htm;
        }
    }
}
