{
    "openapi":"3.0.2",
    "info": {
        "title":"Planet Pulse",
        "description": "Planet Pulse is an API designed to serve climate data pulled from NOAA's Global Monitoring Laboratory FTP server. This API is based on the OpenAPI v3 specification.",
        "version":"1.0.0",
        "contact": {
            "name": "API Support",
            "email": "planetpulse.api@gmail.com"
          }
    },
    "servers": [
        {
            "url":"https://api.planetpulse.io/v1",
            "description": "The domain 'planetpulse.io' hosts a frontend for this API. The 'api' subdomain hosts the actual API."
        }
    ],
    "paths": {
        "/health": {
            "get": {
                "tags": [
                    "heatlh"
                ],
                "summary": "An endpoint to perform a server health check.",
                "responses": {
                    "200": {
                        "description": "Server is up.",
                        "content": {
                            "text/plain": {
                               "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ServerRespHealth"
                                    }
                               } 
                            }
                        }
                    }
                }
            }
        },
        "/co2": {
            "summary": "Represents weekly CO2 measurements (this endpoint is the same as /v1/co2/weekly).",
            "description": "This resource represents a range of weekly average atmospheric CO2 measurements taken at Mauna Loa Observatory since 1974.",
            "get": {
                "tags": [
                    "co2Weekly"
                ],
                "summary": "Requests weekly CO2 measurements.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "year",
                        "description": "Return all CO2 measurements for a given year.",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 3000
                        }
                    },
                    {
                        "in": "query",
                        "name": "month",
                        "description": "Return all CO2 measurements for a given month.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 12
                        }
                    },
                    {
                        "in": "query",
                        "name": "gt",
                        "description": "Return all CO2 measurements with a ppm reading greater than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lt",
                        "description": "Return all CO2 measurements with a ppm reading less than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "gte",
                        "description": "Return all CO2 measurements with a ppm reading greater than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lte",
                        "description": "Return all CO2 measurements with a ppm reading less than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "simple",
                        "description": "If true, a smaller, simplified version of each CO2 measurement will be returned.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "pretty",
                        "description": "If true, json responses are indented for readability.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {   
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCo2"
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCo2Simple"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericError"
                    }
                }
            }
        },
        "/co2/weekly": {
            "summary": "Represents weekly CO2 measurements.",
            "description": "This resource represents a range of weekly average atmospheric CO2 measurements taken at Mauna Loa Observatory since 1974.",
            "get": {
                "tags": [
                    "co2Weekly"
                ],
                "summary": "Requests weekly CO2 measurements.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "year",
                        "description": "Return all CO2 measurements for a given year.",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 3000
                        }
                    },
                    {
                        "in": "query",
                        "name": "month",
                        "description": "Return all CO2 measurements for a given month.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 12
                        }
                    },
                    {
                        "in": "query",
                        "name": "gt",
                        "description": "Return all CO2 measurements with a ppm reading greater than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lt",
                        "description": "Return all CO2 measurements with a ppm reading less than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "gte",
                        "description": "Return all CO2 measurements with a ppm reading greater than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lte",
                        "description": "Return all CO2 measurements with a ppm reading less than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "simple",
                        "description": "If true, a smaller, simplified version of each CO2 measurement will be returned.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "pretty",
                        "description": "If true, json responses are indented for readability.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {   
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCo2"
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCo2Simple"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericError"
                    }
                }
            }
        },
        "/co2/weekly/increase": {
            "summary": "Represents weekly CO2 measurements by increase in ppm since 1800.",
            "description": "This resource represents a range of weekly average atmospheric CO2 measurements taken at Mauna Loa Observatory querried by the increase in CO2 concentration since measurements taken in 1800.",
            "get": {
                "tags": [
                    "co2WeeklyIncrease"
                ],
                "summary": "Requests weekly CO2 measurements by increase in ppm since 1800.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "gt",
                        "description": "Return all CO2 measurements with a ppm increase since 1800 greater than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lt",
                        "description": "Return all CO2 measurements with a ppm increase since 1800 less than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "gte",
                        "description": "Return all CO2 measurements with a ppm reading greater than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lte",
                        "description": "Return all CO2 measurements with a ppm reading less than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "simple",
                        "description": "If true, a smaller, simplified version of each CO2 measurement will be returned.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "pretty",
                        "description": "If true, json responses are indented for readability.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {   
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCo2"
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCo2Simple"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericError"
                    }
                }
            }
        },
        "/co2/weekly/{ppm}": {
            "summary": "Represents a single CO2 measurement.",
            "description": "This resource represents a single weekly average atmospheric CO2 measurement taken at Mauna Loa Observatory. A single CO2 measurment will be returned if the average PPM value matches the requested value.",
            "get": {
                "tags": [
                    "co2WeeklyPpm"
                ],
                "summary": "Requests a single weekly CO2 measurement by PPM.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ppm",
                        "description": "The average CO2 measurement to retrieve, in parts-per-million, taken at Mauna Loa Observatory.",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "default": 0,
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "simple",
                        "description": "If true, a smaller, simplified version of each CO2 measurement will be returned.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "pretty",
                        "description": "If true, json responses are indented for readability.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCo2"
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCo2Simple"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericError"
                    }
                }
            }
        },
        "/ch4": {
            "summary": "Represents monthly CH4 (methane) measurements (this is the same endpoint as /v1/ch4/monthly).",
            "description": "This resource represents a range of monthly average atmospheric CH4 (methane) measurements taken at Mauna Loa Observatory since 1983.",
            "get": {
                "tags": [
                    "ch4Monthly"
                ],
                "summary": "Requests monthly CH4 measurements.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "year",
                        "description": "Return all CH4 measurements for a given year.",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 3000
                        }
                    },
                    {
                        "in": "query",
                        "name": "month",
                        "description": "Return all CH4 measurements for a given month.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 12
                        }
                    },
                    {
                        "in": "query",
                        "name": "gt",
                        "description": "Return all CH4 measurements with an average ppb reading greater than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lt",
                        "description": "Return all CH4 measurements with an average ppb reading less than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "gte",
                        "description": "Return all CH4 measurements with an average ppb reading greater than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lte",
                        "description": "Return all CH4 measurements with an average ppb reading less than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "simple",
                        "description": "If true, a smaller, simplified version of each CH4 measurement will be returned.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "pretty",
                        "description": "If true, json responses are indented for readability.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {   
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCh4"
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCh4Simple"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericError"
                    }
                }
            }
        },
        "/ch4/monthly": {
            "summary": "Represents monthly CH4 (methane) measurements.",
            "description": "This resource represents a range of monthly average atmospheric CH4 (methane) measurements taken at Mauna Loa Observatory since 1983.",
            "get": {
                "tags": [
                    "ch4Monthly"
                ],
                "summary": "Requests monthly CH4 measurements.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "year",
                        "description": "Return all CH4 measurements for a given year.",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 3000
                        }
                    },
                    {
                        "in": "query",
                        "name": "month",
                        "description": "Return all CH4 measurements for a given month.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 12
                        }
                    },
                    {
                        "in": "query",
                        "name": "gt",
                        "description": "Return all CH4 measurements with an average ppb reading greater than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lt",
                        "description": "Return all CH4 measurements with an average ppb reading less than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "gte",
                        "description": "Return all CH4 measurements with an average ppb reading greater than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lte",
                        "description": "Return all CH4 measurements with an average ppb reading less than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "simple",
                        "description": "If true, a smaller, simplified version of each CH4 measurement will be returned.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "pretty",
                        "description": "If true, json responses are indented for readability.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {   
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCh4"
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCh4Simple"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericError"
                    }
                }
            }
        },
        "/ch4/monthly/trend": {
            "summary": "Represents monthly CH4 (methane) trend measurements.",
            "description": "This resource represents a range of monthly average atmospheric CH4 (methane) measurements (smoothed on a trend line) taken at Mauna Loa Observatory since 1983.",
            "get": {
                "tags": [
                    "ch4MonthlyTrend"
                ],
                "summary": "Requests monthly CH4 measurements.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "year",
                        "description": "Return all CH4 measurements for a given year.",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 3000
                        }
                    },
                    {
                        "in": "query",
                        "name": "month",
                        "description": "Return all CH4 measurements for a given month.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 12
                        }
                    },
                    {
                        "in": "query",
                        "name": "gt",
                        "description": "Return all CH4 measurements with a trend ppb value greater than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lt",
                        "description": "Return all CH4 measurements with a trend ppb value less than the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "gte",
                        "description": "Return all CH4 measurements with a trend ppb value greater than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "lte",
                        "description": "Return all CH4 measurements with a trend ppb value less than OR equal to the supplied value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "minimum": 0,
                            "maximum": 1000
                        }
                    },
                    {
                        "in": "query",
                        "name": "simple",
                        "description": "If true, a smaller, simplified version of each CH4 measurement will be returned.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "in": "query",
                        "name": "pretty",
                        "description": "If true, json responses are indented for readability.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {   
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/PageParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCh4"
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ServerRespCh4Simple"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "default": {
                        "$ref": "#/components/responses/GenericError"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ServerRespHealth": {
                "$ref": "./models/ServerRespHealth.json"
            },
            "ServerRespCo2": {
                "$ref": "./models/ServerRespCo2.json"
            },
            "ServerRespCo2Simple": {
                "$ref": "./models/ServerRespCo2Simple.json"
            },
            "ServerRespCh4": {
                "$ref": "./models/ServerRespCh4.json"
            },
            "ServerRespCh4Simple": {
                "$ref": "./models/ServerRespCh4Simple.json"
            },
            "ServerRespError": {
                "$ref": "./models/ServerRespError.json"
            }
        },
        "parameters": {
            "OffsetParam": {
                "name": "offset",
                "description": "Number of items to skip before returning the results.",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0,
                    "maximum": 10000,
                    "default": 0
                }
            },
            "LimitParam": {
                "name": "limit",
                "description": "Maximum number of items to return.",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0,
                    "maximum": 10000,
                    "default": 10
                }
            },
            "PageParam": {
                "name": "page",
                "description": "Shifts the response data by offset + (limit * page).",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 10000,
                    "default": 1
                }
            }
        },
        "responses": {
            "400": {
                "description": "Bad request.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ServerRespError"
                        }
                    }
                }
            },
            "404": {
                "description": "Not found.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ServerRespError"
                        }
                    }
                }
            },
            "500": {
                "description": "Internal server error",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ServerRespError"
                        }
                    }
                }
            },
            "GenericError": {
                "description": "An error occured.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ServerRespError"
                        }
                    }
                }
            }
        }
    }
}